<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="viewport" content="initial-scale=1.25, user-scalable=no">
  <meta charset="UTF-8">
  <title>Widget List</title>

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="../css/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../css/style.css" rel="stylesheet"/>
</head>

<body>

<nav class="navbar navbar-dark bg-primary navbar-fixed-top">
  <p class="navbar-text pull-left jy-nav-left-margin">
    <a href="../page/page-list.html" class="navbar-link">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
  </p>
  <a class="navbar-brand"><b>Widgets</b></a>
  <p class="navbar-text pull-right jy-nav-right-margin">
    <a href="widget-chooser.html" class="navbar-link">
      <span class="glyphicon glyphicon-plus"></span>
    </a>
  </p>
</nav>

<div class="container-fluid jy-below-nav">

</div>


<nav class="navbar navbar-dark bg-primary navbar-fixed-bottom">

    <p class="navbar-text pull-left jy-nav-left-margin">
      <a href="#" class="navbar-link">
        <span class="glyphicon glyphicon-play"></span>
      </a>
    </p>
    <p class="navbar-text pull-left jy-nav-left-margin">
      <a href="#" class="navbar-link">
        <span class="glyphicon glyphicon-eye-open"></span>
      </a>
    </p>
    <p class="navbar-text pull-right jy-nav-right-margin">
      <a href="../user/profile.html" class="navbar-link">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

</nav>

</body>
</html>
