<nav class="navbar navbar-dark bg-primary navbar-fixed-top">
  <p class="navbar-text pull-left jy-nav-left-margin">
    <a routerLink="/user/{{userId}}/website/{{websiteId}}/page" class="navbar-link">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
  </p>
  <a class="navbar-brand"><b>Widgets</b></a>
  <p class="navbar-text pull-right jy-nav-right-margin">
    <a routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/new" class="navbar-link">
      <span class="glyphicon glyphicon-plus"></span>
    </a>
  </p>
</nav>

<div id="widgetContainer" class="container-fluid jy-below-nav">

  <!--<img class="jy-widget-content" src="assets/uploads/2ca04ea2876fa5f99ab92fee84f06eaa" alt="no image">-->

  <div *ngFor="let widget of widgets">

    <div [ngSwitch]="widget.type">

      <div *ngSwitchCase='header'>
        <div class="jy-widget">
          <div class="jy-toolbar">
            <a routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/{{widget._id}}">
              <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="handle glyphicon glyphicon-menu-hamburger"></span>
          </div>
          <div [ngSwitch]="widget.size">
            <div *ngSwitchCase='1'><h1>{{widget.text}}</h1></div>
            <div *ngSwitchCase='2'><h2>{{widget.text}}</h2></div>
            <div *ngSwitchCase='3'><h3>{{widget.text}}</h3></div>
            <div *ngSwitchCase='4'><h4>{{widget.text}}</h4></div>
            <div *ngSwitchCase='5'><h5>{{widget.text}}</h5></div>
            <div *ngSwitchCase='6'><h6>{{widget.text}}</h6></div>
          </div>
        </div>
      </div>

      <div *ngSwitchCase='youtube'>
        <div class="jy-widget">
          <div class="jy-toolbar">
            <a routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/{{widget._id}}">
              <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="handle glyphicon glyphicon-menu-hamburger"></span>
          </div>
          <iframe width="{{widget.width}}" height="315"
                  [src]="widget.url | safe" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>

      <div *ngSwitchCase='image'>
        <div class="jy-widget">
          <div class="jy-toolbar">
            <a routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/{{widget._id}}">
              <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="handle glyphicon glyphicon-menu-hamburger"></span>
          </div>
          <img class="jy-widget-content" [src]="widget.url | safe" [style.width]="widget.width">
        </div>
      </div>
    </div>

  </div>

</div>

<nav class="navbar navbar-dark bg-primary navbar-fixed-bottom">

  <p class="navbar-text pull-left jy-nav-left-margin">
    <a class="navbar-link">
      <span class="glyphicon glyphicon-play"></span>
    </a>
  </p>
  <p class="navbar-text pull-left jy-nav-left-margin">
    <a class="navbar-link">
      <span class="glyphicon glyphicon-eye-open"></span>
    </a>
  </p>
  <p class="navbar-text pull-right jy-nav-right-margin">
    <a routerLink="/user/{{userId}}" class="navbar-link">
      <span class="glyphicon glyphicon-user"></span>
    </a>
  </p>

</nav>
