
<div class="container-fluid jy-mw-800">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h1>CS5610 Assignment and Project</h1>
      <h4>Jiaxin Yang</h4>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Assignment -- Web app maker</h3>
        </div>
        <div class="panel-body">
          <p>This is a web application that allows users to create websites, pages and place various widgets on page.</p>
          <p><a routerLink="login">Assignment login page</a></p>
          <p><a href="https://github.com/Jason-Jiaxin/webdev-yang-jiaxin">Assignment Github Repository</a></p>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Project -- Photo share app</h3>
        </div>
        <div class="panel-body">
          <p>This is a website that allows users to share their photos and connect with others.</p>
          <p><a href="https://photoshare-yang-jiaxin.herokuapp.com/">Project home page</a></p>
          <p><a href="https://github.com/Jason-Jiaxin/photoshare-yang-jiaxin">Assignment Github Repository</a></p>
          <p><a href="https://github.com/Jason-Jiaxin/photoshare-yang-jiaxin/wiki">Assignment Github Wiki</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

