<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="initial-scale=1.25, user-scalable=no">
    <title>Website List</title>

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
  <!--<link href="../css/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->
  <link href="../css/style.css" rel="stylesheet"/>

</head>
<body>

<nav class="navbar navbar-dark bg-primary navbar-fixed-top">
  <p class="navbar-text pull-left jy-nav-left-margin">
    <a href="../user/profile.html" class="navbar-link">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
  </p>
  <a class="navbar-brand"><b>Websites</b></a>
  <p class="navbar-text pull-right jy-nav-right-margin">
    <a href="website-new.html" class="navbar-link">
      <span class="glyphicon glyphicon-plus"></span>
    </a>
  </p>
</nav>

<div class="container-fluid jy-below-nav">
  <ul class="list-group">
    <li class="list-group-item active">
      <div class="row">
        <div class="col-xs-9 col-sm-6 col-md-3">
          <p class="jy-no-margin">Name</p>
        </div>
        <div class="col-sm-3 hidden-xs">
          <p class="jy-no-margin">Owner</p>
        </div>
        <div class="col-md-3 hidden-xs hidden-sm">
          <p class="jy-no-margin">Date created</p>
        </div>
        <div class="col-xs-3">
          <p class="jy-no-margin pull-right">Edit</p>
        </div>

      </div>
    </li>

    <li class="list-group-item">
      <div class="row">
        <div class="col-xs-9 col-sm-6 col-md-3">
          <a href="../page/page-list.html">Address Book App</a>
        </div>
        <div class="col-sm-3 hidden-xs">
          <p class="jy-no-margin">Alice</p>
        </div>
        <div class="col-md-3 hidden-xs hidden-sm">
          <p class="jy-no-margin">3/23/2017</p>
        </div>
        <div class="col-xs-3">
          <a href="website-edit.html" class="pull-right">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
        </div>
      </div>
    </li>

    <li class="list-group-item">
      <div class="row">
        <div class="col-xs-9 col-sm-6 col-md-3">
          <a href="../page/page-list.html">Blog</a>
        </div>
        <div class="col-sm-3 hidden-xs">
          <p class="jy-no-margin">Bob</p>
        </div>
        <div class="col-md-3 hidden-xs hidden-sm">
          <p class="jy-no-margin">5/23/2017</p>
        </div>
        <div class="col-xs-3">
          <a href="website-edit.html" class="pull-right">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
        </div>
      </div>
    </li>

    <li class="list-group-item">
      <div class="row">
        <div class="col-xs-9 col-sm-6 col-md-3">
          <a href="../page/page-list.html">Travel</a>
        </div>
        <div class="col-sm-3 hidden-xs">
          <p class="jy-no-margin">Trace</p>
        </div>
        <div class="col-md-3 hidden-xs hidden-sm">
          <p class="jy-no-margin">7/23/2017</p>
        </div>
        <div class="col-xs-3">
          <a href="website-edit.html" class="pull-right">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
        </div>
      </div>
    </li>

  </ul>

</div>


<nav class="navbar navbar-dark bg-primary navbar-fixed-bottom">
  <p class="navbar-text pull-right jy-nav-right-margin">
    <a href="../user/profile.html" class="navbar-link">
      <span class="glyphicon glyphicon-user"></span>
    </a>
  </p>
</nav>

</body>
</html>
