<nav class="navbar navbar-dark bg-primary navbar-fixed-top">
  <div class="row">
    <div class="col-sm-4 hidden-xs">
      <p class="navbar-text pull-left jy-nav-left-margin">
        <a routerLink="/user/{{userId}}/website" class="navbar-link">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </p>
      <a class="navbar-brand"><b>Websites</b></a>
      <p class="navbar-text pull-right jy-nav-right-margin">
        <a routerLink="/user/{{userId}}/website/new" class="navbar-link">
          <span class="glyphicon glyphicon-plus"></span>
        </a>
      </p>
    </div>
    <div class="col-xs-12 col-sm-8">
      <p class="navbar-text pull-left jy-nav-left-margin jy-nav-right-margin hidden-sm hidden-md hidden-lg">
        <a routerLink="/user/{{userId}}/website" class="navbar-link">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </p>
      <a class="navbar-brand jv-no-left-padding"><b>New Website</b></a>
      <p class="navbar-text pull-right jy-nav-right-margin">
        <a (click)="createWebsite()" class="navbar-link">
          <span class="glyphicon glyphicon-ok"></span>
        </a>
      </p>
    </div>
  </div>

</nav>

<div class="container-fluid jy-below-nav">
  <div class="row">
    <div class="col-sm-4 hidden-xs">
      <ul class="list-group">

        <li *ngFor="let website of websites" class="list-group-item">
          <div class="row">
            <div class="col-xs-9">
              <a routerLink="/user/{{userId}}/website/{{website._id}}/page">{{website.name}}</a>
            </div>

            <div class="col-xs-3">
              <a routerLink="/user/{{userId}}/website/{{website._id}}" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-8">
      <form>
        <div class="form-group">
          <label for="websiteName">Name</label>
          <input [(ngModel)]="websiteName" type="text" class="form-control" name="websiteName"
                 id="websiteName" placeholder="Name">
        </div>
        <div class="form-group">
          <label for="websiteDesp">Description</label>
          <textarea [(ngModel)]="websiteDesp" rows="5" class="form-control" name="websiteDesp"
                    id="websiteDesp" placeholder="Description"></textarea>
        </div>
        <div *ngIf="errorFlag" class="alert alert-danger">
          {{errorMsg}}
        </div>
      </form>
    </div>
  </div>

</div>

<nav class="navbar navbar-dark bg-primary navbar-fixed-bottom">
  <p class="navbar-text pull-right jy-nav-right-margin">
    <a routerLink="/user/{{userId}}" class="navbar-link">
      <span class="glyphicon glyphicon-user"></span>
    </a>
  </p>
</nav>
